In [2]:
import pandas as pd


df = pd.read_csv(r"..\\data\\ml_project1_data.csv")
print(df.head())

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  2012-09-04       58       635  ...                  7             0
1  2014-03-08       38        11  ...                  5             0
2  2013-08-21       26       426  ...                  4             0
3  2014-02-10       26        11  ...                  6             0
4  2014-01-19       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]

In [3]:
df_estudiar=df.copy()
df_estudiar=df_estudiar.dropna(subset="Income")
df_estudiar.isnull().sum()

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
dtype: int64

In [4]:
df_encoded = pd.get_dummies(df_estudiar, columns=["Marital_Status"], drop_first=False)

In [5]:
df_encoded['Total'] = df_estudiar['MntWines'] + df_estudiar['MntFruits'] + df_estudiar['MntMeatProducts'] + df_estudiar['MntFishProducts'] + df_estudiar['MntSweetProducts'] + df_estudiar['MntGoldProds']

In [6]:
df_encoded.columns

Index(['ID', 'Year_Birth', 'Education', 'Income', 'Kidhome', 'Teenhome',
       'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts',
       'MntFishProducts', 'MntSweetProducts', 'MntGoldProds',
       'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases',
       'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3',
       'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2',
       'Complain', 'Z_CostContact', 'Z_Revenue', 'Response',
       'Marital_Status_Absurd', 'Marital_Status_Alone',
       'Marital_Status_Divorced', 'Marital_Status_Married',
       'Marital_Status_Single', 'Marital_Status_Together',
       'Marital_Status_Widow', 'Marital_Status_YOLO', 'Total'],
      dtype='object')

In [16]:
df_bueno = df_encoded[(df_encoded['Marital_Status_Divorced'] == True) | (df_encoded['Marital_Status_Married'] == True)]
df_bueno.head()

,ID,Year_Birth,Education,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,Response,Marital_Status_Absurd,Marital_Status_Alone,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Together,Marital_Status_Widow,Marital_Status_YOLO,Total
4,5324,1981,PhD,58293.0,1,0,2014-01-19,94,173,43,...,0,False,False,False,True,False,False,False,False,422
6,965,1971,Graduation,55635.0,0,1,2012-11-13,34,235,65,...,0,False,False,True,False,False,False,False,False,590
7,6177,1985,PhD,33454.0,1,0,2013-05-08,32,76,10,...,0,False,False,False,True,False,False,False,False,169
11,387,1976,Basic,7500.0,0,0,2012-11-13,59,6,16,...,0,False,False,False,True,False,False,False,False,61
12,2125,1959,Graduation,63033.0,0,0,2013-11-15,82,194,61,...,0,False,False,True,False,False,False,False,False,1102

In [21]:
df_solteros = df_encoded[(df_encoded['Marital_Status_Single'] == True)]
gasto_medio_solteros=df_solteros["Total"].mean()
print(gasto_medio_solteros)

612.5923566878981

In [19]:
df_casados = df_encoded[(df_encoded['Marital_Status_Married'] == True)]
gasto_medio_casados=df_casados["Total"].mean()
print(gasto_medio_casados)

591.4644107351226

Observamos que la media del gasto del grupo de solteros es levemente mayor que a la de casados.